@use '../../../../assets/styles/variables' as v;
.buscador {
    margin: 2.3rem 0;
    display: flex;
    input {
      
      flex: 1;
      border-radius: 1.5rem;
      border: 1.5px solid v.$color-primary;
      margin-right: 6px;
      font-size: 1rem;
      padding: .7rem 1.2rem;
      :focus {
        outline: none;
      }
    }
    button {
      background: v.$color-primary;
      color: v.$color-secondary;
      border: none;
      font-size: 1.5rem;
      border-radius: 1.5rem;
      padding: 0 .95rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }