@use '../../../../assets/styles/variables' as v;

.login-page {
  min-width: 1342px;
  background: v.$color-secondary;
  align-items: center;
  display: block;
  justify-content: center;
  
  overflow: hidden; // Esconde bordes de la llave si se sale
}

.login-main {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  position: relative;
  background-color: transparent;
}

.llave-bg {
  position: absolute;
  
  height: 100%;
  z-index: 0;
  margin: auto;
  padding: auto;

  .svg-bg {
    height: 100%;
    
  }
}
.app-login-form {
  position: relative;
  z-index: 3;
  border-radius: 18px;
  margin: 2rem rem;
  
  margin-left: 38vw; // Ajusta para centrar respecto al fondo
}
