// Paleta de colores
$color-primary: #243C81;
$color-secondary: #F9FAFB;


// Tipografía
$font-family-main: 'Montserrat';
$font-size-base: 16px;
$font-size-title: 2rem;
$font-size-subtitle: 1rem;

// Bordes y sombras
$border-radius-card: 0.75rem;
$box-shadow-card: 0 2px 8px rgba(0,0,0,0.1);
